* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 5fr 1fr 1fr;
    grid-template-areas: 'pepito pepito'
                         'sidebar mainContent'
                         'sidebar mainContent'
                         'footer footer';
    height: 100vh;
}

header {
    background-color: skyblue;
    grid-area: pepito;
}

aside {
    background-color: mediumseagreen;
    grid-area: sidebar;
}

main {
    background-color: gold;
    grid-area: mainContent;
}

footer {
    background-color: orange;
    grid-area: footer;
}
