.grid-container {
    display: grid;
    background-color:bisque;
    grid-template-columns: auto auto auto;
    column-gap:50px;
    row-gap:50px;
}

.grid-container div {
    background-color:brown;
}