.block-element {
    background:blueviolet;
    margin: 10px;
    padding: 20px;
}

span {
    margin-top: 50px;
}

.nav {
    background-color:burlywood;
    padding: 20px;
    list-style: none;
    text-align: center;
}
.nav li {
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}


