.grid-container {
    display: grid;
    background-color: blanchedalmond;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
}

.grid-container div {
    background-color: brown;

    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.div1{
    grid-column: 3 / span 2;

    grid-row: 2 / span 3;
}

