* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

body {
    background: linear-gradient(290deg, #00C6E3 0%, #4E95F1 50.37%, #9966FF 100%);
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px
}
/* 
header span {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    gap: 10px;
} */

main {
    color:white;
    display:grid;
    grid-template-rows: 1fr 2fr;
    background: white;
    height: 60vh;
    min-width: 300px;
    padding: 30px;
    border-radius: 8px;
    justify-items: center;
    gap: 10px;
    box-shadow: 0px 5px 7px rgba(0,0,0,.3), 0px 10px 15px rgba(0,0,0,.3);
    background-image: url('./fondo.jpeg');
}

main img {
    border-radius: 50%;
    margin-top: -80px;
    border: 3px solid white;
    transition-property: border-color, margin-top;
    transition-duration: 1s;
    transition-timing-function: linear;
}

main h2 {
    text-align: center;
    margin-bottom: 50px;
}

section p {
    margin-bottom: 20px;
}


main img:hover {
    border-color: red;
    margin-top: -100px;
}

input {
    width: 50px;
    height: 50px;
}

input:checked footer {
    border-radius: 50px;
}
